.title {
  margin-left: 16px;
  font-weight: 700;
  color: #333652;
}

.listContainer {
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  margin: 0 auto;
  width: 90%;
  height: 20rem;

  overflow-y: scroll;

  div {
    width: 59px;

    span {
      font-size: 0.6rem;
      margin-bottom: -0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      width: 0.3rem;
      height: 0.3rem;
      padding: 0.6rem;

      font-weight: 800;
      color: whitesmoke;
      background: #90adc6;
    }
  }
}

.bar {
  margin-top: 0.25rem;
  display: flex;
  gap: 2.5px;

  div {
    height: 2px;
  }
}

.pokeName {
  font-family: spartan;
  font-size: 0.6rem;
  display: flex;
  margin-top: 0.01rem;
  color: #333652;
}

.confirmation {
  position: relative;
  margin-top: -5rem;
  opacity: 70%;
}
