.title {
  font-family: spartan;
  font-weight: 800;
  margin-left: 16px;
  font-size: 0.8rem;
  color: #333652;
}

.teamContainer {
  display: flex;
  height: 100%;
  padding-top: 1rem;

  background-color: #e5e5e5;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 0.7rem;
  }
}

.bar {
  border-bottom: 1px solid #333652;
  margin: 1rem auto;
  width: 85%;
}
