.title {
  font-weight: 700;
  color: #333652;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;

  input {
    font-family: spartan;
    font-weight: 800;
    margin-left: 1rem;
    color: #333652;
    border: none;
    background-color: #e5e5e5;
    width: 5rem;
  }
}

.teamContainer {
  display: flex;
  height: 12rem;
  margin-top: 0.5rem;

  background-color: #e5e5e5;
  flex-direction: column;

  div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.7rem;
    gap: 1rem 0.5rem;
  }
}

.buttonContainer {
  margin-right: 1.5rem;
  display: flex;
  justify-content: flex-end;

  button {
    background-color: #e5e5e5;
    border: none;
    &:disabled {
      opacity: 0.5;
    }
  }
}
